.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 
.label-custom{
  color: #9DBEE6;
  background-color: #1B1B1D ;
  font-size: 100px;
}
 .dark_background {
  background-color: #000000;
  color: #EEEEEE;
 }
 
 
 .list {
  background-color: #D9D9D9;
 }
 .row_icons {
  color:#56BC6C;
 }
 .dotes {
  color: #4BA1BC;
 }

 @media  (max-width:1366px ) {

  .btn-outline-primary {
    /* width: 90%; */
    background-color: red;
  
    font-size: .1rem;
  }
  .horizontal_more {

    display: none;

  }


}
@media   (min-width: 1366px) {
  .vertical_more {
    display: none;

  }

  
}
.logo {
  width: 150px;
  height: auto;
}
.custom-btn,.btn, .btn-outline-success  {
  background-color : rebeccapurple
}

.custom-btn,.btn, .btn-outline-success ,
.custom-btn:active {
  background-color: darkblue; /* Removes active background color */
  color: #0b3e1d; /* Optional: Even darker success color */
  border-color: #0b3e1d; /* Optional: Even darker border color */
}